.form {
    color: $text-white;
    color: $gold;
    border: 2px solid $gold;
    padding: 20px;

    @media (min-width: 1280px) {
        padding: 20px 60px 60px;
    }

    &__text {
        color: $text-white;
        
        p {
            margin-bottom: 0;
        }

        .form-mail & {
            padding: 0 0 40px;
        }
    }

    legend {
        font-size: 32px;
        padding: 0 20px;

        @media (min-width: 1280px) {
            font-size: 56px;
        }
    }

    [type = "email"] {
        font-size: 20px;
        width: 100%;
        border: none;
        
        &::placeholder {
            padding: 5px;
            background: #ececec;
            color: #646464;
        }

        &:invalid {
            border: 1px solid red;
        }

        &:focus {
            outline: 1px solid $gold;
        }

        &:enabled {
            color: $gold;
            background: $text-white;
        }
    }
}

.buy-button {
    font-size: 28px;
    padding: 0 40px;
    background: $gold;
    line-height: 150%;
    border: 0;
    cursor: pointer;

    &:hover {
        background: #fff;
        color: $gold;
        box-shadow: $hover-shadow;
    }
}


.form-mail {
    text-align: center;

    @media (min-width: 480px) {
        text-align: start;
        padding: 20px 40px;
    }

    .buy-button {
        margin: 0 auto;

        @media (min-width: 480px) {
            float: right;
        }
    }

    &__main {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__footer {
        display: none;

        h6 {
            color: $text-white;
        }

        @media (min-width: 768px) {
            display: block;
        }
    }
}