.hero-menu {
    position: absolute;
    top: 30%;
    right: 20px;
    width: 200px;
    display: flex;
    justify-content: flex-end;

    @media (min-width: 992px) {
        position: relative;
        width: auto;
    }
}

.menu {
    display: none;

    @media (min-width: 992px) {
        display: flex;
        gap: 100px;
        font-size: 28px;
        font-weight: 300;
    }

    ;

    li {
        position: relative;
        display: inline-block;

        &:before {
            content: "";
            display: block;
            position: absolute;
            background: $text-black;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0;
            opacity: 0.1;
            transition: all .5s ease;
        }

        ;

        &:hover {
            &:before {
                width: 100%;
                opacity: 1;
            }
        }

    }

}

.burger-navigation {
    display: inline-block;
    width: 30px;
    height: 22px;
    position: relative;
    font-size: 20px;

    @media (min-width: 992px) {
        display: none;
    }

    span {
        transition: all .5s ease;
        display: block;
        background: $text-black;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        color: transparent;

        &:before {
            transition: all .5s ease;
            content: "";
            display: block;
            background: $text-black;
            height: 2px;
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            width: 100%;
            animation: 1000ms, 0s, forwards;
        }

        &:after {
            transition: all .5s ease;
            content: "";
            display: block;
            background: $text-black;
            height: 2px;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            width: 100%;
            animation: 1000ms, 0s, forwards;
        }
    }

    // &:hover {
    //     span {
    //         height: 1.5em;
    //         rotate: 90deg;
    //         left: 1.2em;
    //         right: 1.2em;

    //         &:before {
    //             rotate: 20deg;
    //             top: .3em;
    //             left: -1em;
    //             right: 0em;
    //             width: 130%;
    //             background: pink;
    //             height: .3em;
    //         }

    //         &:after {
    //             bottom: 0px;
    //             width: 80%;
    //             background: #00FFFF;
    //             height: 1.5em;
    //             left: auto;
    //             right: 0em;
    //             opacity: 0.4;
    //             filter: alpha(opacity=40);
    //         }
    //     }
    // }
}