$text_black: #000;
$text-white: #fff;
$bg: #fff;
$gold: #E49828;
$icon-bg: #D6A45B;

//gradients
$green-grad: linear-gradient(81deg, #25372B -45.47%, #000 143.46%);
$red-grad: linear-gradient(278deg, #882B23 -43.73%, #050000 167.69%);

//shadows
$photo-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.30), -10px 10px 10px 0px rgba(0, 0, 0, 0.30);
$card-inner-shadow: 0px 211px 50px 3px rgba(0, 0, 0, 0.60) inset;

